@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100vw;
}

/*left side*/
.image {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: auto;
  min-width: 350px;
  position: relative;
}

.logo-box {
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.3);
  padding: 25px;
  color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 10vh;
  filter: invert(100%);
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 8vh;
}

/*right side*/
.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Raleway", sans-serif;
  background-color: #f9fafb;
}

.form-intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #393e46;
  margin-top: 35px;
  padding: 30px;
}

h2 {
  font-size: 25px;
  color: #393e46;
  padding: 10px;
}

form {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  width: 40vw;
  margin: 15px;
  font-weight: lighter;
  color: #393e46;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  border-radius: 8px;
  height: 30px;
  width: 200px;
  border: 2px solid #393e46;
}

.form-box {
  padding: 30px;
  background-color: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button-box {
  padding: 30px;
}

.button-box p {
  margin: 10px;
}

button[type="submit"] {
  background-color: #393e46;
  font-family: "Raleway", sans-serif;
  color: #eeeeee;
  width: 10vw;
  height: 7vh;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  padding: 5px;
  min-width: 75px;
}

button:hover {
  background-color: #eeeeee;
  color: #393e46;
}

a {
  text-decoration: none;
  color: #393e46;
  font-weight: bold;
}

input:focus {
  outline: none;
}

input:focus:valid {
  border: 2px solid #59ce8f;
}

input:focus:invalid {
  border: 2px solid #eb455f;
}

/*responsive*/
@media screen and (max-width: 990px) {
  .container {
    flex-direction: column;
  }
  .image {
    width: 100vw;
    height: 25em;
  }
  form {
    width: 70vw;
    justify-content: center;
  }
}
